<div id="<%= dom_id student_detail %>">
  <p>
    <strong>Name:</strong>
    <%= student_detail.Name %>
  </p>

  <p>
    <strong>Uniq:</strong>
    <%= student_detail.uniq_id %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= student_detail.Branch %>
  </p>

</div>
